In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [3]:
df=pd.read_csv('insurance_data.csv')
df

    age  bought_insurance
0    22                 0
1    25                 0
2    47                 1
3    52                 0
4    46                 1
5    56                 1
6    55                 0
7    60                 1
8    62                 1
9    61                 1
10   18                 0
11   28                 0
12   27                 0
13   29                 0
14   49                 1
15   55                 1
16   25                 1
17   58                 1
18   19                 0
19   18                 0
20   21                 0
21   26                 0
22   40                 1
23   45                 1
24   50                 1
25   54                 1
26   23                 0

In [4]:
import matplotlib.pyplot as plt

In [5]:
%matplotlib inline
plt.scatter(x,y, color='red' , marker='+')

NameError: name 'x' is not defined

In [6]:
from sklearn.model_selection import train_test_split

In [24]:
X_train,X_test, y_train, y_test = train_test_split(df.age,df.bought_insurance, test_size=0.33, random_state=42)

In [25]:
X_train

24    50
1     25
4     46
5     56
2     47
15    55
22    40
3     52
25    54
23    45
18    19
26    23
20    21
7     60
10    18
14    49
19    18
6     55
Name: age, dtype: int64

In [26]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model

LogisticRegression()

In [1]:
model.fit(df[['age']],df.bought_insurance)

NameError: name 'model' is not defined

In [54]:
model.predict([[5]])

array([0], dtype=int64)

In [1]:
model.score(X_test,y_test)

NameError: name 'model' is not defined